QDRANT_URL=https://adc09b0a-4b0b-4d8c-af20-be901568280b.europe-west3-0.gcp.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.hXPN2Gl1w5cOpd7DBoyfkMW0NkoBKuS9sW5qlqJcRCo
QDRANT_COLLECTION=memory_items
QDRANT_DIM=384
QDRANT_DISTANCE=Cosine
MEM0_PORT=4040
MEM0_EMBED_PROVIDER=ollama
MEM0_EMBED_MODEL=all-minilm:latest
MEM0_OLLAMA_URL=http://127.0.0.1:11434
# MEM0_OPENAI_API_KEY=
# MEM0_OPENAI_MODEL=
